# Database Configuration
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_db?schema=agricultura"

# Application Configuration
PORT=3000
NODE_ENV=development

# Azure Blob Storage Configuration (Opcional: Si se deja vacío, guarda en disco local ./uploads)
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME="archivos-campo"
